<p style="color: green"><%= notice %></p>

<h1>Events</h1>

<div id="events">
  <% @events.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "Show this event", event %>
    </p>
  <% end %>
</div>

<%= link_to "New event", new_event_path %>

<div data-controller="hello">
  <input data-hello-target="name" type="text" data-action="paste->hello#paste">
  <button data-action="click->hello#log">Log</button>
</div>
